.liste table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.liste th, .liste td { 
  padding:var(--espacement-tres-petit);
  text-align: left;
  border: 1px solid var(--couleur-border);
}

.liste th {
  background-color: var(--couleur-hover);
  color: var(--couleur-primaire);
  font-weight: bold;
}

.liste img{
  width: 100%;
  max-width:150px;
}

@media screen and (max-width: 1524px) {
  .liste table,
  .liste thead,
  .liste tbody,
  .liste th,
  .liste td,
  .liste tr {
    display: block;
  }

  .liste thead {
    display: none;
  }

  .liste tr {
    margin-bottom: var(--espacement-petitRem);
    border: 1px solid var(--couleur-border);
    padding: var(--espacement-petitRem);
    border-radius: 6px;
    background-color: var(--couleur-fond);
  }

  .liste td {
    position: relative;
    padding-left: 40%;
    text-align: left;
    border: none;
    border-bottom: 1px solid var(--couleur-border);
    min-height: 2.5em;
    box-sizing: border-box;
  }

  .liste td::before {
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: var(--espacement-tres-petit);
    width: 45%;
    white-space: nowrap;
    font-weight: bold;
    color: var(--couleur-accent);
  }
  .liste img{
  max-width:200px;
  width: 100%;
}
}
@media screen and (max-width: 425px) {

  .liste td{
    text-align: right;
  }

.liste td::before {
  text-align: left;
}
}


