.nav-secondaire{
     justify-self: center; 

    & .menu{
        gap:var(--espacement-large);
        padding-top: var(--espacement-large);
    } 
    & .logo{
        width: 12ch;
        justify-self: center;
    } 
    
}  
@media screen and (max-width:1280px) {
   .nav-secondaire .menu{
        gap: var(--espacement-petit);
    }
}